<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Users List</title>
<link rel = "stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div>
	<div class="container text-center">
	<div>
			<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			
			<input type="submit" value="sign out" />
			
			</form>
		</div>
	<div>
		<h1>List of Users</h1>
	</div>
	
	<table class="table table-strap table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="user: ${listUsers}">
				<td th:text="${user.id}">ID</td>
				<td th:text="${user.firstName}">First Name</td>
				<td th:text="${user.lastName}">Last Name</td>
				<td th:text="${user.email}">Email</td>
			</tr>
		</tbody>
	
	</table>
	
	</div>
	
</div>

</body>
</html>